In [1]:
import pandas as pd
import numpy as np
import pickle
from sqlalchemy import create_engine, inspect

# allow max columns to be displayed
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [2]:
database = "../../resources/HR_Data/HR_Attrition.db"
conn_string = f"sqlite:///{database}"

In [3]:
engine = create_engine(conn_string)

In [4]:
min_age = 20
max_age = 30

In [8]:
query = f"""
        SELECT
            Age, 
            Attrition
        FROM
            EmpPersonalInfo
        LEFT JOIN EmpWorkInfo ON
        EmpPersonalInfo.EmployeeID = EmpWorkInfo.EmployeeID
        WHERE Age >= {min_age}
            AND Age <= {max_age}
        """
df = pd.read_sql(query, conn_string)
df.head()

   Age Attrition
0   28       Yes
1   29        No
2   25        No
3   28        No
4   21        No

In [9]:
df.Age.value_counts()

29    198
30    176
28    141
27    141
26    111
25     77
24     77
22     47
23     42
21     38
20     33
Name: Age, dtype: int64

In [16]:
df.Attrition.value_counts()

No     820
Yes    261
Name: Attrition, dtype: int64