In [1]:
import pandas as pd
import numpy as np
import pickle
from sqlalchemy import create_engine, inspect

# allow max columns to be displayed
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [2]:
database = "../../resources/HR_Data/HR_Attrition.db"
conn_string = f"sqlite:///{database}"

In [3]:
engine = create_engine(conn_string)

In [15]:
min_age = 18
max_age = 21

In [16]:
query = f"""
        SELECT
            ep.Age, 
            ew.Attrition
        FROM
            EmpPersonalInfo ep
        LEFT JOIN EmpWorkInfo ew ON
        ep.EmployeeID = ew.EmployeeID
        WHERE Age >= {min_age}
            AND Age <= {max_age}
        """
df = pd.read_sql(query, conn_string)
df.head()

   Age Attrition
0   21        No
1   18       Yes
2   18        No
3   21       Yes
4   21        No

In [17]:
df.Age.value_counts()

21    38
20    33
19    27
18    22
Name: Age, dtype: int64

In [18]:
df.Attrition.value_counts()

Yes    64
No     56
Name: Attrition, dtype: int64

# Problem is Plotly Summing Age as below

In [23]:
df.groupby('Attrition')['Age'].sum()

Attrition
No     1110
Yes    1257
Name: Age, dtype: int64