In [1]:
import pandas as pd
import os
import pickle
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import balanced_accuracy_score
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.over_sampling import RandomOverSampler
from imblearn.metrics import classification_report_imbalanced
import matplotlib.pyplot as plt

from collections import Counter

In [2]:
df=pd.read_csv("resources/HR_Data/Clean_ML_HRdata.csv")
df.head()

,Unnamed: 0,Age,Attrition,DistanceFromHome,Education,EmployeeID,Gender,JobLevel,MonthlyIncome,NumCompaniesWorked,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,0,51,0,3.750,2,1,0,1,1705.08,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,31,1,6.250,1,2,0,1,544.57,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,2,32,0,10.625,4,3,1,4,2512.64,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,3,38,0,1.250,5,4,1,3,1081.73,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,4,32,0,6.250,1,5,1,1,304.46,4.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [3]:
df.drop(['Unnamed: 0',
         'StandardHours',
         'Education',
         'Gender',
         'JobLevel',
         'JobRole_Laboratory Technician',
         'JobRole_Manager',
         'JobRole_Manufacturing Director',
         'JobRole_Research Director',
         'JobRole_Research Scientist',
         'JobRole_Sales Executive',
         'JobRole_Sales Representative',
         'MaritalStatus_Divorced',
         'MaritalStatus_Married',
         'MaritalStatus_Single',
         'StockOptionLevel',
         'TrainingTimesLastYear',
         'Department_Research & Development',
         'Department_Sales',
         'EducationField_Human Resources',
         'EducationField_Life Sciences',
         'EducationField_Marketing',
         'EducationField_Medical',
         'EducationField_Other',
         'EducationField_Technical Degree',
         'JobRole_Healthcare Representative',
         'JobRole_Human Resources',
         'EmployeeID',
         'YearsSinceLastPromotion',
         'JobInvolvement',
         'WorkLifeBalance',
         'PerformanceRating',
         'BusinessTravel_Non-Travel',
         'BusinessTravel_Travel_Frequently',
         'BusinessTravel_Travel_Rarely',
         'Department_Human Resources'],axis=1, inplace = True)

target = ['Attrition']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4300 entries, 0 to 4299
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4300 non-null   int64
 1   Attrition                4300 non-null   int64
 2   DistanceFromHome         4300 non-null   float64
 3   MonthlyIncome            4300 non-null   float64
 4   NumCompaniesWorked       4300 non-null   float64
 5   PercentSalaryHike        4300 non-null   int64
 6   TotalWorkingYears        4300 non-null   float64
 7   YearsAtCompany           4300 non-null   int64
 8   YearsWithCurrManager     4300 non-null   int64
 9   EnvironmentSatisfaction  4300 non-null   float64
 10  JobSatisfaction          4300 non-null   float64
dtypes: float64(6), int64(5)
memory usage: 369.7 KB

In [5]:
# create features
X = df.drop("Attrition", axis=1)
X = pd.get_dummies(X)
X.head()

,Age,DistanceFromHome,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,YearsAtCompany,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction
0,51,3.750,1705.08,1.0,11,1.0,1,0,3.0,4.0
1,31,6.250,544.57,0.0,23,6.0,5,4,3.0,2.0
2,32,10.625,2512.64,1.0,15,5.0,5,3,2.0,2.0
3,38,1.250,1081.73,3.0,11,13.0,8,5,4.0,4.0
4,32,6.250,304.46,4.0,12,9.0,6,4,4.0,1.0

In [ ]:
# d={'Age':[21],'DistanceFromHome':[2000],'MonthlyIncome':[500],'NumCompaniesWorked':[7],'PercentSalaryHike':[2],'TotalWorkingYears':[40],'YearsAtCompany':[5],'YearsWithCurrManager':[7],'EnvironmentSatisfaction':[1],'JobSatisfaction':[1]}
# df2=pd.DataFrame(data=d)
# df2.head()

In [ ]:
# filename = 'finalized_model.sav'
# brf = pickle.load(open(filename, 'rb'))

In [ ]:
# X = np.array(df)
# preds = brf.predict_proba(X)
# preds_singular = brf.predict(X)
# preds_singular[0]

In [6]:
le = LabelEncoder()
y = df.loc[:, target]
y[target[0]] = le.fit_transform(y[target])
y.head()

/Users/conorhanson/opt/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   Attrition
0          0
1          1
2          0
3          0
4          0

In [7]:
y['Attrition'].value_counts()

0    3605
1     695
Name: Attrition, dtype: int64

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(3225, 10)

In [9]:
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brf.fit(X_train, y_train)

/var/folders/vq/fs6vq8f55gxb0r6f6yps4wt40000gn/T/ipykernel_4501/1999429633.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  brf.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [10]:
y_pred_brf = brf.predict(X_test)
balanced_accuracy_score(y_test, y_pred_brf)

0.931764833454527

In [11]:
print(classification_report_imbalanced(y_test, y_pred_brf))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.99      0.93      0.94      0.96      0.93      0.87       901
          1       0.71      0.94      0.93      0.81      0.93      0.87       174

avg / total       0.94      0.93      0.94      0.93      0.93      0.87      1075

In [ ]:
# save the model to disk
filename = 'finalized_model.sav'
pickle.dump(brf, open(filename, 'wb'))

In [ ]:
# ros = RandomOverSampler(random_state=1)
# X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
# print(Counter(y_resampled['Attrition']))

In [ ]:
# model = LogisticRegression(solver='lbfgs', random_state=1)
# model.fit(X_resampled, y_resampled)

In [ ]:
# y_pred = model.predict(X_test)