In [8]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from collections import Counter
import os
import pickle

In [2]:
df=pd.read_csv("resources/HR_Data/Clean_ML_HRdata.csv")
df.head()

,Unnamed: 0,Age,Attrition,DistanceFromHome,Education,EmployeeID,Gender,JobLevel,MonthlyIncome,NumCompaniesWorked,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,0,51,0,3.750,2,1,0,1,1705.08,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,31,1,6.250,1,2,0,1,544.57,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,2,32,0,10.625,4,3,1,4,2512.64,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,3,38,0,1.250,5,4,1,3,1081.73,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,4,32,0,6.250,1,5,1,1,304.46,4.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [3]:
df.drop(['Unnamed: 0',
         'StandardHours',
         'Education',
         'Gender',
         'JobLevel',
         'JobRole_Laboratory Technician',
         'JobRole_Manager',
         'JobRole_Manufacturing Director',
         'JobRole_Research Director',
         'JobRole_Research Scientist',
         'JobRole_Sales Executive',
         'JobRole_Sales Representative',
         'MaritalStatus_Divorced',
         'MaritalStatus_Married',
         'MaritalStatus_Single',
         'StockOptionLevel',
         'TrainingTimesLastYear',
         'Department_Research & Development',
         'Department_Sales',
         'EducationField_Human Resources',
         'EducationField_Life Sciences',
         'EducationField_Marketing',
         'EducationField_Medical',
         'EducationField_Other',
         'EducationField_Technical Degree',
         'JobRole_Healthcare Representative',
         'JobRole_Human Resources',
         'EmployeeID',
         'YearsSinceLastPromotion',
         'JobInvolvement',
         'WorkLifeBalance',
         'PerformanceRating',
         'BusinessTravel_Non-Travel',
         'BusinessTravel_Travel_Frequently',
         'BusinessTravel_Travel_Rarely',
         'Department_Human Resources'],axis=1, inplace = True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4300 entries, 0 to 4299
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4300 non-null   int64
 1   Attrition                4300 non-null   int64
 2   DistanceFromHome         4300 non-null   float64
 3   MonthlyIncome            4300 non-null   float64
 4   NumCompaniesWorked       4300 non-null   float64
 5   PercentSalaryHike        4300 non-null   int64
 6   TotalWorkingYears        4300 non-null   float64
 7   YearsAtCompany           4300 non-null   int64
 8   YearsWithCurrManager     4300 non-null   int64
 9   EnvironmentSatisfaction  4300 non-null   float64
 10  JobSatisfaction          4300 non-null   float64
dtypes: float64(6), int64(5)
memory usage: 369.7 KB

In [27]:
d={'Age':[70],'DistanceFromHome':[2000],'MonthlyIncome':[500],'NumCompaniesWorked':[7],'PercentSalaryHike':[2],'TotalWorkingYears':[40],'YearsAtCompany':[5],'YearsWithCurrManager':[7],'EnvironmentSatisfaction':[1],'JobSatisfaction':[1]}
df=pd.DataFrame(data=d)
df.head()

,Age,DistanceFromHome,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,YearsAtCompany,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction
0,70,2000,500,7,2,40,5,7,1,1

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1 non-null      int64
 1   DistanceFromHome         1 non-null      int64
 2   MonthlyIncome            1 non-null      int64
 3   NumCompaniesWorked       1 non-null      int64
 4   PercentSalaryHike        1 non-null      int64
 5   TotalWorkingYears        1 non-null      int64
 6   YearsAtCompany           1 non-null      int64
 7   YearsWithCurrManager     1 non-null      int64
 8   EnvironmentSatisfaction  1 non-null      int64
 9   JobSatisfaction          1 non-null      int64
dtypes: int64(10)
memory usage: 208.0 bytes

In [28]:
filename = 'finalized_model.sav'
brf = pickle.load(open(filename, 'rb'))

In [29]:
X = np.array(df)
preds = brf.predict_proba(X)
preds_singular = brf.predict(X)
preds_singular[0]

C:\Users\Jack Madden\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but BalancedRandomForestClassifier was fitted with feature names
  warnings.warn(
C:\Users\Jack Madden\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but BalancedRandomForestClassifier was fitted with feature names
  warnings.warn(

0

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = df.loc[:, target]
y[target[0]] = le.fit_transform(y[target])
y.head()

In [ ]:
y['Attrition'].value_counts()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

In [ ]:
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brf.fit(X_train, y_train)

In [ ]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
print(Counter(y_resampled['Attrition']))

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import balanced_accuracy_score

In [ ]:
y_pred_brf = brf.predict(X_test)
balanced_accuracy_score(y_test, y_pred_brf)

In [ ]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred_brf))

In [ ]:
import pickle

In [ ]:
# save the model to disk
filename = 'finalized_model.sav'
pickle.dump(brf, open(filename, 'wb'))